<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine – DoseBuddy</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">
    <h1>DoseBuddy – Add Medicine</h1>
</div>

<div class="container">
    <h2>Add New Medicine</h2>

    <form method="POST">

        <label>Medicine Name:</label>
        <input type="text" name="name" required placeholder="Eg: Paracetamol">

        <label>Dosage:</label>
        <input type="text" name="dosage" required placeholder="Eg: 500mg">

        <label>Time:</label>
        <input type="time" name="time" required>

        <label>Food Instruction:</label>
        <select name="food">
            <option value="before">Before Food</option>
            <option value="after">After Food</option>
        </select>

        <button type="submit">Add Medicine</button>
    </form>

    <br>
    <a href="/" class="btn">Back to Dashboard</a>
</div>

<script src="/static/js/main.js"></script>

</body>
</html>